$colour-black: #000;
$colour-white: #fff;
$colour-grey: #ccc;

$colour-default-text: $colour-black;
$colour-default-heading: $colour-default-text;
$colour-default-link: $colour-default-text;

/* Header */
$colour-header-bg: $colour-black;
$colour-header-title: $colour-white;

/* List */
$colour-list-button-bg: $colour-white;
$colour-button-add-note-bg: $colour-black;
$colour-button-add-note-text: $colour-white;
$colour-list-item-border: $colour-grey;

/* Add Note */
$colour-add-note-button-bg: $colour-black;
$colour-add-note-button-text: $colour-white;
