body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
  color: $colour-default-text;
}

h1,
h2,
h3 {
  color: $colour-default-heading;
}

a {
  text-decoration: none;
  color: $colour-default-link;
}
